/* CSS */
.button {
    -fx-text-fill: #1e1e1e;
    -fx-background-color: linear-gradient(from 0% 0% to 50% 50%, #5B42F3, #AF40FF), linear-gradient(from 25% 25% to 100% 100%, #AF40FF, #5B42F3);
    -fx-background-insets: 2px, 5px;
    -fx-background-radius: 10px, 10px;
    -fx-font-family: "Comic Sans MS", sans-serif;
    -fx-font-size: 17px;
}

.button:hover {
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
    -fx-font-size: 18px;
    -fx-background-color: linear-gradient(from 0% 0% to 50% 50%, #AF40FF, #5B42F3), linear-gradient(from 0% 0% to 60% 60%, #5B42F3, #AF40FF);
}